<ion-view view-title="二手物品">
  <ion-content 
  has-subheader="false"
  padding="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"> </ion-refresher>
    <div class="list flea-list-box">
        <a class="item item-thumbnail-left" ui-sref="tab.flea-detail({fleaId:item._id})" ng-repeat="item in fleaList">
          <img ng-src="{{item.imgs[0]}}">
          <h2>{{item.name}}</h2>
          <p>{{item.price | currency : '￥'}}左右<span></p>
          <p>{{item.createDate}} <span class="ion-ios-location-outline location">{{item.schoolname}}</span></p>
        </a>
    </div>
  </ion-content>
</ion-view>