extends ../layout

block content
  .row
    .col-lg-12
      h1.page-header
        | 商品管理
      ol.breadcrumb
        li
          i.fa.fa-dashboard
          span &emsp;
          a(href='index.html') fleaMarket 管理系统
        li.active
          i.fa.fa-table
          |  新增商品
  .row
    .col-md-12
      form.form-horizontal(action="../../flea/add" method="POST",enctype='multipart/form-data')
        .form-group
          label.col-sm-2.control-label(for='name') 二手物品名称
          .col-sm-4
            input#name.form-control(type='text',name="name", placeholder='商品名称')
        .form-group
          label.col-sm-2.control-label(for='price') 物品价格
          .col-sm-1
            input#price.form-control(type='number',name="price",placeholder='价格')
        .form-group
          label.col-sm-2.control-label(for='description') 商品详细描述
          .col-sm-4
            textarea#description.form-control(type='text',name="description",placeholder='商品详细描述',rows="10")
        .form-group
          label.col-sm-2.control-label(for='schoolId') 所在学校
          .col-sm-4
            select#schoolId.form-control(name="schoolId")
              each school in schoolList
                option(value="#{school._id}") #{school.schoolname}
        .form-group
          label.col-sm-2.control-label(for='userId') 发布用户
          .col-sm-4
            select#userId.form-control(name="userId")
              each user in userList
                option(value="#{user._id}") #{user.username}
        .form-group
          label.col-sm-2.control-label(for='schoolId') 物品成新率
          .col-sm-4
            select#newnessRate.form-control(name="newnessRate")
              option(value="10") 全新
              option(value="9") 9成新
              option(value="8") 7-8成新
              option(value="7") 6-9成新
              option(value="6") 5成新以下
        .form-group
          label.col-sm-2.control-label(for="imgs") 商品图片
          .col-sm-4
            input#imgs(type="file", name="imgs",multiple="multiple")
        .form-group
          .col-sm-offset-2.col-sm-6
            button.btn.btn-default(type='submit') 提交

