extends ../layout

block content
  .row
    .col-lg-12
      h1.page-header
        | 创业者类型管理
      ol.breadcrumb
        li
          i.fa.fa-dashboard
          span &emsp;
          a(href='index.html') ESPT 管理系统
        li.active
          i.fa.fa-table
          |  新增创业者类型
  .row
    .col-md-12
      form.form-horizontal(action="../../api/worktype" method="POST")
        .form-group
          label.col-sm-2.control-label(for='worktype') 创业者类型名称
          .col-sm-4
            input#worktype.form-control(type='text',name="worktype", placeholder='创业者类型名称')

        .form-group(style="display:none")
          .col-sm-4
            input#type.form-control(type='text',name="type",value="add")
          .col-sm-4(style="display:none")
            input#type.form-control(type='text',name="from",value="admin")
        ingpt
        .form-group
          .col-sm-offset-2.col-sm-6
            button.btn.btn-default(type='submit') 提交

