doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#') FleaMarket
        ul.nav.navbar-nav
          li.active
            a(href='http://localhost:3333/commodity/web/postCommodity') 发布商品
    block content
