<ion-view view-title="我要开店">
  <ion-content has-subheader="false">
    <p>1. 特别提示</p>
    <p>1.1</p>
    北京微梦创科网络技术有限公司、微梦创科网络科技（中国）有限公司及相关关联企业（以下合称"微梦公司"）同意按照本协议的规定及其不时发布的操作规则提供基于互联网以及移动网的新浪网微博客服务（以下称"微博服务"），为获得微博服务，微博服务使用人（以下称"用户"）应当基于了解本协议全部内容，在独立思考的基础上认可、同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意" 按钮即表示用户完全接受《新浪网络服务使用协议》、《微博服务使用协议》、《微博社区公约（试行）》及微梦公司公示的各项规则、规范。
    <p>1.2</p>
    用户注册成功后，微梦公司将为用户基于微博服务使用的客观需要而在申请、注册微博服务时，按照注册要求提供的帐号开通微博服务，用户有权在微梦公司为其开通、并同意向其提供服务的基础上使用微博服务。该用户帐号和密码由用户负责保管；用户使用微博服务过程中，须对自身使用微博服务的行为，对任何由用户通过微博服务服务发布、公开的信息，及对由此产生的任何后果承担全部责任。用户提交、发布或显示的信息将对其他微博服务用户及第三方服务及网站可见(用户可通过设置功能自行控制、把握可查阅其信息的帐号类型)。
    <p>1.3</p>
    为提高用户的微博服务使用感受和满意度，用户同意微梦公司将基于用户的操作行为对用户数据进行调查研究和分析，从而进一步优化微博服务。
    <p>2. 服务内容</p>
    <p>2.1</p>
    微博服务的具体内容由微梦公司根据实际情况提供，包括但不限于授权用户通过其帐号，使用微博服务发布观点、评论、图片、视频、转发链接、长微博（使用长微博会自动开通打赏功能，《微博打赏服务协议》详见：http://t.cn/R7bHnV4）等，微梦公司有权对其提供的服务或产品形态进行升级或其他调整，并将及时更新页面/告知用户。
    <p>2.2</p>
    微梦公司提供的部分网络服务为收费的网络服务，用户使用收费网络服务需要向微梦公司支付一定的费用。对于收费的网络服务，微梦公司会在用户使用之前给予用户明确的提示，只有用户根据提示确认其愿意支付相关费用，用户才能使用该等收费网络服务。如用户拒绝支付相关费用，则微梦公司有权不向用户提供该等收费网络服务。微梦公司为部分微博签约自媒体作者开通了付费阅读功能，用户需要通过微博支付向付费阅读作者支付款项，才能阅读相应付费阅读文章。 
    《微博付费阅读作者协议》详见：http://weibo.com/aj/static/author.html
    《微博付费阅读读者协议》详见：http://weibo.com/aj/static/reader.html
    <p>2.3</p>
    用户理解，微梦公司仅提供与微博服务相关的技术服务等，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。
    <p>3. 服务变更、中断或终止</p>
    <p>3.1</p>
    鉴于网络服务的特殊性（包括但不限于服务器的稳定性问题、恶意的网络攻击等行为的存在及其他微梦公司无法控制的情形），用户同意微梦公司有权随时中断或终止部分或全部的微博服务（包括收费网络服务），若发生该等中断或中止微博服务的情形，微梦公司将尽可能及时通过网页公告、系统通知、私信、短信提醒或其他合理方式通知受到影响的用户。如中断或终止的微博服务属于收费服务，微梦公司将该用户剩余虚拟货币退还用户的虚拟货币账户或向受影响的用户提供等值的替代性的收费网络服务。
    <p>3.2</p>
    用户理解，微梦公司需要定期或不定期地对提供微博服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成服务在合理时间内的中断，微梦公司无需为此承担任何责任，但微梦公司应尽可能事先进行通告。
    <p>3.3</p>
    如发生下列任何一种情形，微梦公司有权随时中断或终止向用户提供本协议项下的微博服务（包括收费服务）而无需对用户或任何第三方承担任何责任：
    <p>3.3.1 用户提供的个人资料不真实；</p>
    <p>3.3.2 用户违反法律法规国家政策或本协议中规定的使用规则；</p>
    <p>3.3.3 用户在使用收费服务时未按规定为其所使用的收费服务实现支付目的。</p>
    <p>3.4</p>
    如用户在申请开通微博服务后在任何连续90日内未实际使用，则微梦公司有权选择采取以下任何一种方式进行处理：
    <p>3.4.1 回收用户昵称；</p>
    <p>3.4.2 停止为该用户提供微博服务。</p>
    <p>3.5</p>
    用户选择将微博帐号与微博合作的第三方帐号进行绑定的，除用户自行解除绑定关系外，如发生下列任何一种情形，用户已绑定的第三方帐号也有可能被解除绑定而微梦公司无需对用户或任何第三方承担任何责任：
    <p>3.5.1 用户违反法律法规国家政策、本协议或《新浪网络服务使用协议》 的；</p>
    <p>3.5.2 用户违反第三方帐户用户协议或其相关规定的；</p>
    <p>3.5.3 其他需要解除绑定的。</p>
    <p>4. 使用规则</p>
    <p>4.1</p>
    用户注册微博账号，制作、发布、传播信息内容的，应当使用真实身份信息及个人资料，不得以虚假、冒用的居民身份信息、企业注册信息、组织机构代码信息进行注册；若用户的个人资料有任何变动，用户应及时更新。
    <p>4.2</p>
    用户可自行编辑注册信息中的账号名称、头像、简介等，但应遵守“七条底线”以及相关管理规定，不得含有违法和不良信息。
    <p>4.3</p>
    如用户违反前述约定，依据相关法律、法规及国家政策要求，微梦公司有权随时采取不予注册、通知限期改正、注销登记用户账号、中止或终止用户对微博服务的使用等措施。如果用户冒用、关联机构或社会名人注册账号名称，微梦公司有权注销用户该账号，并向互联网信息内容主管部门报告。
    <p>4.4</p>
    微梦公司将建立健全用户信息安全管理制度、落实技术安全防控措施。微梦公司将对用户使用微博服务过程中涉及的用户隐私内容加以保护。
    <p>4.5</p>
    由于微博服务的存在前提是用户在申请开通微博服务的过程中所提供的帐号，则用户不应将其帐号、密码转让或出借予他人使用。如用户发现其帐号或微博服务遭他人非法使用，应立即通知微梦公司。因黑客行为或用户的保管疏忽导致帐号、密码及微博服务遭他人非法使用，微梦公司有权拒绝承担任何责任。
    <p>4.6</p>
    用户同意微梦公司在提供微博服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在微梦公司网站的任何页面上投放广告），并且，用户同意接受微梦公司通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。
    <p>4.7</p>
    用户知悉、理解并同意授权微梦公司及其关联公司可非独家、可转授权地使用用户通过微博发布的内容，前述内容包括但不限于文字、图片、视频等。具体来说，可能会包括：
    <p>4.7.1 将前述内容通过微博自身或其他第三方技术、网络等在微梦公司选择的网络平台、应用程序或产品中，以有线或无线网，通过免费或收费的方式在不同终端（包括但不限于电脑、手机、互联网电视、机顶盒及其他上网设备等）以不同形式（包括但不限于点播、直播、下载等）进行网络传播或电信增值服务等；</p>
    <p>4.7.2 将前述内容复制、翻译、编入微梦公司当前已知或以后开发的作品、媒体或技术中，用于微博相关用途开发或推广宣传等；</p>
    <p>4.7.3 将前述内容授权给电台、电视台、网络媒体、运营商平台等与微梦公司有合作的媒体或运营商播放、传播，用于微博相关推广宣传等；</p>
    <p>4.7.4 其他微梦公司及其关联公司出于善意或另行取得您授权的使用行为；</p>
    <p>4.7.5 用户对微梦公司及其关联公司的前述授权并不改变用户发布内容的所有权及知识产权归属，也并不影响用户行使其对发布内容的合法权利；</p>
    <p>4.7.6 </p>微梦公司将尽最大的商业努力合理使用用户的授权内容，但并不代表微梦公司及其关联公司承诺一定会使用。
    <p>4.8</p>
    用户在使用微博服务的过程中应文明发言，并依法尊重其它用户的人格权与身份权等人身权利，共同建立和谐、文明、礼貌的网络社交环境。</p>
    <p>4.9</p>
    用户在使用微博服务过程中，必须遵循以下原则：
    <p>4.9.1 不得违反中华人民共和国法律法规及相关国际条约或规则；
    <p>4.9.2 不得违反与网络服务、微博服务有关的网络协议、规定、程序及行业规则；
    <p>4.9.3 不得违反法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等“七条底线”要求；
    <p>4.9.4 不得进行任何可能对互联网或移动网正常运转造成不利影响的行为；
    <p>4.9.5 不得上传、展示或传播任何不实虚假、冒充性的、骚扰性的、中伤性的、攻击性的、辱骂性的、恐吓性的、种族歧视性的、诽谤诋毁、泄露隐私、成人情色、恶意抄袭的或其他任何非法的信息资料；
    <p>4.9.6 不得以任何方式侵犯其他任何人依法享有的专利权、著作权、商标权等知识产权，或姓名权、名称权、名誉权、荣誉权、肖像权、隐私权等人身权益，或其他任何合法权益；
    <p>4.9.7 不得以任何形式侵犯新浪或微梦公司的权利和/或利益或作出任何不利于新浪或微博公司的行为；
    <p>4.9.8 不得从事其他任何影响微博平台正常运营、破坏微博平台经营模式或其他有害微博平台生态的行为。
    <p>4.9.9 不得为其他任何非法目的而使用微博服务。
    <p>4.10
    微梦公司针对某些特定的微博服务的使用通过各种方式（包括但不限于网页公告、系统通知、私信、短信提醒等）作出的任何声明、通知、警示等内容视为本协议的一部分，用户如使用该等微博服务，视为用户同意该等声明、通知、警示的内容。</p>
    <div class="row">
      <button class="button button-full button-balanced" ng-click="open()">
        同意协议开始开店
      </button>
    </div>
  </ion-content>
</ion-view>