extends ../layout

block content
  nav
    ul.nav.nav-tabs
      li.active(role="presentation") 
        a 用户管理
      li(role="presentation") 
        a 商品管理
      li(role="presentation") 
        a 二手物品管理
      li(role="presentation") 
        a 用户管理
